/* HTML elements */

header{
    background-color: #fff;
    /* font-size: 20px; */
    padding-top: 5px;
    /* position: fixed;
    width: 100%;
    display: none; */
    margin-bottom: 25px;
    /* margin-top: 10px; */
}

body{
    background:
    radial-gradient(black 3px, transparent 4px),
    radial-gradient(black 3px, transparent 4px),
    linear-gradient(rgb(226, 219, 208) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    rgb(226, 219, 208);
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    line-height: 190%;
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    color: gray;
}

section{
    width: 70%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1px;
    margin-bottom: 30px;
    /* min-height: 80vh; */
}

h1{
    padding: 25px 25px 25px 40px;
    background: rgb(37, 170, 157);
    width: 20%;
    min-width: 235px;
    margin-left: 13.8%;
    color: #efeee7;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

h2{
    color: rgb(37, 170, 157);
    font-size: x-large;
    font-weight: bold;
    margin: 10px 0px;
}

a{
    color: gray;
}

strong{
    font-weight: bold;
}

ul{
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

li{
    display: list-item;
}


hr{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    margin-top: 20px;
    margin-bottom: 24px;
    border: 1.5px solid rgb(221, 221, 221);
}


figure{
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

/* Classes used in all pages */

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.left{
    float: left;
}

.hidden{
    display: none;
}

.h2hr{
    margin-bottom: 24px;
    border: 1.5px solid rgb(221, 221, 221);
}

/* Classes, primarily used for <nav> */
        /* https://www.w3schools.com/css/tryit.asp?filename=trycss_navbar_horizontal_float */

.navbar{
    position: relative;
    top: -90px;
    /* left: -10%; */
}

.navlist{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}

.navblock{
    display: block;
    padding: 8px;  
    background: white;
}

.navblankleft{
    margin-left: 380px;
    margin-bottom: 47px;
}

.navblankright{
    /* margin-right: 40px; */
    padding-right: 25%;
    background: white;
}

.navlink{
    color: gray;
    text-decoration: none;
}

.vertbar{
   color: #efeee7 
}

/* Classes, primarily used for <footer> */

footer{
    margin: 0px;
    /* padding: 0px; */
    text-align: center;
}

.copyright{
    /* margin: 0px; */
    background-color: gray;
    color: white;
    margin: auto;
    width: 100%;
    font-size: small;
    padding: 30px 0px 0px 0px;
    border-top:  rgb(37, 170, 157) 10px solid;
    position: relative;
    left: 0;
    bottom: 0;
}

.vh{
    min-height: 66vh;
}

/* IDs for index */

#bio-image{
    border-radius: 20px;
    min-height: 210px;
    min-width: 280px;
    height: 50%;
    width: 50%;
    max-height: 297px;
    max-width: 396px;
    float: left;
    margin-right: 15px;
    margin-bottom: 0px;
    }
    
    #about-me{
    
    }
    

/* classes for portfolio */

/* Class for division */
.portDiv{
    /* background-color: rgb(37, 170, 157); */
    border: 2px rgb(37, 170, 157) solid;
    float: left;
    margin: 15px;
    width: 250px;
    height: 220px;
    vertical-align: middle;
    position: relative;
    text-align: center;
}

/* Class for image */
.portImage{
    height: auto;
    max-width: 250px;
    max-height: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 0px;
    margin: 0px; */
    /* float: left; */
    /* text-align: center; */
}

/* Class for the text overlay */
.portText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(37, 170, 157);
    width: 100%;
    padding: 2px;
    color: white;
}